*{
	margin: 0;padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
html,body{
	font-size: 10px;
}
body{
	width: 100%;
}
header{
	width: 100%;
}
.header-top{
	width: 100%;/*1548*/
	background-image: url(../images/);
	background: linear-gradient(#333333,#000000);
}
.header-top-inner{
	width:75.58%;/*1170*/
	height: 40px;
	margin: 0 auto;
}
.header-top-inner img{
	margin-left: 16px;
	margin-top: 13px;
	float: left;
}
	
.header-top-inner nav{
	display: table;
	width: 525px;
	float: left;
	border-left: 1px solid #000;
	margin-left: 24px;
	padding-left: 24px;
}
.header-top-inner ul{
	display: table-row;
	list-style: none;
}
.header-top-inner li{
	display: table-cell;

}
.header-top-inner li:last-child{
	border-left: 1px solid #000;
	padding-left: 24px;
	background-image: url(../images/nav-jt_03.png);
	background-repeat: no-repeat;
	background-position: 100px center;
}
.header-top-inner p{
	font-size: 1.4rem;
	color: #999999;
	line-height: 2.73em;
}
.header-top-inner h3{
	font-size: 1.9rem;
	color: red;
	float: right;
	margin-top: 11px;
}
.logo{
	background-color: #ff6633;
}
.logo-inner{
	width: 75.58%;
	margin: 0 auto;
	overflow: hidden;
}
h1{
	font-size: 5.5rem;
	line-height: 1.53em;
	color: #333333;
	font-weight: bold;
	float: left;
}
.logo-inner nav{
	display: table;
	width: 44.44%;
	float: right;
}
.logo-inner ul{
	display: table-row;
}
.logo-inner li{
	display: table-cell;
	text-align: center;
}
.logo-inner li:hover{
	background-color: #333333;
}
.logo-inner li:nth-child(4){
	position: relative;
}
.logo-inner img{
	position: absolute;
	top:55px;
	right:55px;
}
.logo-inner a{
	font-size: 1.4rem;
	color: #fff;
	line-height: 6em;
}
.banner{
	background-color: #333333;
}
.banner-inner{
	width: 75.58%;
	margin: 0 auto;
	overflow: hidden;
}
.banner-inner img{
	width: 100%;
	margin-top: 40px;
}
.banner-inner h2{
	font-size: 5rem;
	color: #ff6633;
	float: left;
	margin-top: 60px;
}
.banner-inner-bot-right{
	width: 73.16%;
	float: left;
	margin-top: 60px;
	padding-left: 25px;
	border-left: 1px solid #666;
	margin-left: 12px;
	margin-bottom: 45px;
}
.banner-inner p{
	font-size: 1.4rem;
	color: #666666;
	line-height: 1.43em;
}
.banner-inner a{
	font-size: 1.4rem;
	display: block;
	width: 155px;
	line-height: 2.14em;
	background-color: #ff6633;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	margin-top: 17px;
}
.main-top{
	background-color: #ffffff;
}
.main-top-inner{
	width: 75.58%;
	margin: 0 auto;
	overflow: hidden;
}
.main-top-inner h2{
	font-size: 3.6rem;
	line-height: 2.92em;
	color: #ff6633;
}
.main-top-inner img{
	display: block;
	width: 23.08%;
	margin-right: 2.56%;
	margin-bottom: 2.56%;
	float: left;
}
.main-top-inner img:nth-child(5){
	margin-right: 0;
}
.main-top-inner img:last-child{
	margin-right: 0;
}
article{
	background-color: #ccc;
	overflow: hidden;
	border-top: 2px dashed black;
	border-bottom: 2px dashed black;
}
.article-inner{
	width: 75.58%;
	margin: 0 auto;
}
.article-inner h3{
	font-size: 2.9rem;
	color: #ff6633;
	text-align: center;
	line-height: 4.6rem;
}
.article-inner p{
	font-size: 1.4rem;
	color: #666666;
	text-align: center;
	line-height: 4.6rem;
	font-style: oblique;
}
.article-inner a{
	display: block;
	font-size: 1.2rem;
	width: 7.69%;
	line-height: 2.5em;
	color: #fff;
	background-color: #ff6633;
	margin: 0 auto;
	text-align: center;
	margin-top: 1.7rem;
	margin-bottom: 1.7rem;
	font-style: oblique;
}
figure{
	background-color: #fff;
	overflow: hidden;
}
.figure-inner{
	width: 75.58%;
	margin: 0 auto;
	overflow: hidden;
}
.figure-inner h2{
	font-size: 4.6rem;
	color: #ff6633;
	line-height: 2.8em;
}
.webdesign{
	width: 23.08%;
	float: left;
	margin-right: 2.56%;
	}
.figure-inner .webdesign:last-child{
	margin-right: 0;
}
.webdesign .pic1{
	width: 100%;
}
.webdesign h3{
	font-size: 3rem;
	color: #ff6633;
	margin-bottom: 2rem;
}
.webdesign h4{
	font-size: 1.4rem;
	color: #ff6633;
	line-height: 3.14em;
}
.webdesign span{
	font-size: 1.2rem;
	color: #ff6633;
	line-height: 1.5em;
}
.webdesign span:first-child{
	color: #666;
}
.webdesign img{
	margin-right: 0.5rem;
}
.webdesign span:nth-child(2){
	padding-left: 0.9rem;
	border-left: 1px solid #666;
	margin-right: 1rem;
}
.Vivamus{
	font-size: 1.4rem;
	color: #666;
	line-height: 1.36em;
	margin-top: 1.3rem;
}
.webdesign a{
	display: block;
	width: 36.3%;
	font-size: 1.2rem;
	line-height: 2.5em;
	background-color: #ff6633;
	text-align: center;
	color: #fff;
	margin-top: 2rem;
	margin-bottom: 5.4rem;
}
.footer-top{
	background-color: #333333;
	overflow: hidden;
}
.footer-top-inner{
	width: 75.58%;
	margin: 0 auto;
}
.footer-top-innerleft{
	width: 48.8%;
	float: left;
	margin-right: 2.4%;
}
.footer-top-innerleft h3{
	font-size: 3rem;
	color: #ff6633;
	line-height: 2.8em;
}
.footer-top-innerleft img{
	width: 50.38%;
	float: left;
	margin-right: 5.08%;
	margin-bottom: 4rem;
}
.footer-top-innerleft p{
	font-size: 1.2rem;
	color: #fff;
	line-height: 1.67em;
}
.footer-top-innerleft p:nth-child(4){
	color: #666;
}
.footer-top-innerright{
	width: 48.8%;
	float: left;
}
.footer-top-innerright h3{
	font-size: 3rem;
	color: #ff6633;
	line-height: 2.87em;
}
.footer-top-innerright p{
	font-size: 1.4rem;
	color: #ff6633;
	line-height: 2.14em;
	text-indent: 1rem;
}
.footer-top-innerright ul{
	float: left;
	margin-right: 7.88%;
}
.footer-top-innerright li{
	background-image: url(../images/footertopjt_03.jpg);
	background-position: left center;
	background-repeat: no-repeat;
}
.footer-bot{
	background-color: #fff;
	overflow: hidden;
}
.footer-bot-inner{
	width: 75.58%;
	margin: 0 auto;
	overflow: hidden;
}
.footer-bot-inner p{
	font-size: 1.3rem;
	color: #ff6633;
	line-height: 5.62em;
	float: left;
}
.footer-bot-inner span:first-child{
	color: #000;
	border-right:1px solid #000;
	padding-right: 0.5rem;
}
.footer-bot-inner span:nth-child(3){
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.footer-bot-inner span:nth-child(4){
	color: #000;
}
.footer-bot-inner img{
	float: right;
	margin-top:2.3rem;
	margin-bottom: 2.3rem;
	margin-right: 0.51%;
}