*{
	margin: 0;padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	width: 100%;
}
header{
	width: 18rem;
	height: 11.3rem;
}
header{
	background-image: url(../images/zenghuibg_01.jpg);
	background-size: 100% 100%;
}
header a{
	float: left;
	margin-left: 0.45rem;
	margin-top: 1.08rem;
	color: #fff;
}
.header-mid{
	width: 5.68rem;
	float: left;
	margin-left: 4.88rem;
	margin-top: 1.08rem;
}
.header-mid img{
	width: 5.68rem;
	margin-bottom: 0.6rem;
}
.header-mid h3{
	text-align: center;
	font-size: 0.85rem;
	color: #fff;
}
.header-mid p{
	text-align: center;
	font-size: 0.58rem;
	color: #fff;
}
.header-right{
	float: right;
	margin-top: 0.68rem;
	margin-right: 0.68rem;
}
.header-right img{
	display: block;
	width: 2.4rem;
	margin: 0 auto;
}
.header-right p{
	font-size: 0.53rem;
	color: #fff;
}
.main li{
		width: 100%;
		overflow: hidden;
		padding-left: 0.9rem;
		background-color: rgba(204, 204, 204, 0.5);
		border-bottom: 1px solid #cccccc;
}
.main li:hover{
	background-color: #fff;
}
.main ul:last-child li{
	border-bottom: none;
}
.main a{
	display: block;
	font-size: 0.75rem;
	line-height: 4.53em;
	float: left;
}
.main img{
	width: 1.28rem;
	margin-top: 1.23rem;
	float: left;
	margin-right: 1.23rem;
}
.main span{
	float: left;
	margin-left: 9.25rem;
	margin-top: 1.48rem;
}
